[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
black = "*"
djangorestframework-simplejwt = "*"
requests = "*"
pillow = "*"
drf-extra-fields = "*"
django-iranian-cities = {git = "https://github.com/sageteam-org/django-iranian-cities.git"}
tzdata = "*"
pytest-django = "*"
pytest = "*"
coverage = "*"
update = "*"
rest-framework-simplejwt = "*"
setuptools = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
persian-tools = "*"
psycopg2 = "*"
az-iranian-bank-gateways = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
